.cart-container {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.cart-image {
    width: 32px;
    height: 32px;
}

.cart-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 24px;
}

.cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
